@model SKBusService.Models.RouteSchedule
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Edit schedules for " + Context.Session.GetString("busRouteCode") + " - " + Context.Session.GetString("routeName");
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" asp-route-BusRouteCode="@ViewBag.BusRouteCode">
    <div class="form-horizontal">
        <h4>RouteSchedule</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RouteScheduleId" />
        <div class="form-group">
            <label asp-for="Comments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsWeekDay" />
                    <label asp-for="IsWeekDay"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
